* {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

/* header section */
html {
  width: 1600px;
}
header {
  background-image: url("../images/banner/banner3.png");
  background-repeat: no-repeat;
  height: 808px;
}

.head-container {
  text-align: right;
  padding: 216px 230px 0px 845px;
  color: #ffffff;
}
.head-container > .heading {
  font-weight: 700;
  font-size: 65px;
  width: 525px;
}
.head-container > .content {
  padding: 24px 0 32px 0;
  font-size: 16px;
  padding-left: 20px;
  text-align: right;
}

.btn-primary {
  background: #ffffff;
  border-radius: 5px;
  padding: 20px 26px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #005fac;
  border: none;
}

/* main section */

main {
  margin: 0 230px;
  width: 1600px;
}

.failure {
  display: flex;
  margin: 130px 30px;
  text-align: left;
  gap: 100px;
}

.failure > .right-section {
  margin: 270px 0px 0px 0px;
  width: 40%;
}
.section-heading {
  font-weight: 700;
  font-size: 40px;
  width: 288px;
  color: #151414;
  font-style: bold;
}
.section-content {
  font-size: 16px;
  color: #444343;
  padding: 24px 0 16px 0;
  width: 316px;
}
ul {
  list-style: none;
  color: #444343;
  margin: 0;
  padding: 0;
  line-height: 35px;
  width: 400px;
}
ul li:before {
  content: "✓";
  color: #16d887;
  padding-right: 10px;
  font-weight: 600;
}

.plan {
  margin: 130px 0px;
  text-align: center;
}
.plan > .section-heading {
  margin-left: 28%;
}
.my-plan {
  padding-left: 0px;
  display: flex;
  margin-top: 50px;
  gap: 150px;
  width: 1140px;
  height: 300px;
}
.card-head {
  font-weight: 700;
  font-size: 25px;
  color: #151414;
  margin-top: 10px;
  margin-bottom: 10px;
}
.card-content {
  font-weight: 500;
  font-size: 20px;
  color: #737272;
}

footer {
  display: flex;
  background: #151414;
  color: #f8f8f8;
  padding: 130px 230px;
  gap: 0px;
}
.left-footer {
  width: 60%;
}
.right-footer {
  width: 40%;
}
.left-foothead {
  font-weight: 700;
  font-size: 45px;
}
.left-footContent {
  font-weight: 400;
  font-size: 16px;
  margin-top: 20px;
  width: 500px;
}
.footer-images {
  margin-top: 20px;
}
.subscribe {
  font-weight: 600;
  font-size: 25px;
}
.right-footer > input[type="email"] {
  padding: 18px 158px 21px 21px;
  border-radius: 8px;
  border: 1px solid #ffffff;
  font-weight: 400;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 20px;
  color: #f3f3f3;
  background: #151414;
}
.btn-seconadary {
  background: #005fac;
  border-radius: 5px;
  padding: 20px 26px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  border: none;
}
.img-grad {
  background-image: linear-gradient(90deg, #005fac 0%, rgba(0, 95, 172, 0) 100%),
    url("../images/watch.png");
  background-repeat: no-repeat;
  margin-top: 100px;
  text-align: left;
  border-radius: 8px;
  width: 1140px;
  height: 300px;
}
.grad-head {
  font-weight: 700;
  font-size: 40px;
  color: #ffffff;
  width: 600px;
  padding: 60px 617px 30px 60px;
}
.callnow {
  padding-left: 60px;
}
